@model TinklinisPlius.Models.Match

@{
    ViewData["Title"] = "Match Details";
}

<h2>@Model.Title</h2>

<p><strong>Date:</strong> @Model.Date</p>
<p><strong>Score:</strong> @Model.Team1score - @Model.Team2score</p>
<p><strong>Has Happened:</strong> @Model.Hashappened</p>
<p><strong>Place in Tournament:</strong> @Model.Placeintournament</p>

